[run]
omit =
    */__init__.py
    */testing/*
plugins = 
  enaml_coverage_plugin
  
[paths]
# needed to test installed packaged on travis
source =
    exopy_pulses/exopy_pulses
    ~/anaconda/env/travisci/Lib/site-packages/exopy_pulses

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
    pass
